<table>
<thead>
  <tr>
    <th>Contribution: </th>
    <th>Date of Payment: </th>
  </tr>
</thead>

<tbody>
  <%# @contributions.each do |contribution| %>
  <tr>
    <td><%= contribution.contribution %></td>
    <td><%= contribution.date_of_payment%></td>
  </tr>
  <%# end %>
</tbody>
</table>